# Objective – Phase 1

In [2]:
import pandas as pd

## Data Considerations
Based on your first report, the Bank has strategically binned each of the continuous variables in 
the data set to help facilitate any further analysis.  
- For any variable with missing values, change the data to include a missing category 
instead of a missing value for the categorical variable.  
    - (HINT: Now all variables should be categorized (treated as categorical variables 
so no more continuous variable assumptions) and without missing values. Banks 
do this for more advanced modeling purposes that we will talk about in the 
spring.) 
- Check each variable for separation concerns. Document in the report and adjust any 
variables with complete or quasi-separation concerns.

In [8]:
df = pd.read_csv("insurance_t_bin.csv")
print(df.shape)
df.head()

(8495, 48)

,DDA,CASHBK,DIRDEP,NSF,SAV,ATM,CD,IRA,LOC,INV,...,INVBAL_BIN,ILSBAL_BIN,MMBAL_BIN,MTGBAL_BIN,CCBAL_BIN,INCOME_BIN,LORES_BIN,HMVAL_BIN,AGE_BIN,CRSCORE_BIN
0,1,0,1,0,0,1,0,0,0,0.0,...,01 <= 1025,01 <= 9690.09,01 <= 1031.1401,01 <= 100000,01 <= 0.9,01 <= 50,02 > 5,01 <= 98,02 > 50,01 <= 675
1,0,0,0,0,0,0,0,0,0,0.0,...,01 <= 1025,01 <= 9690.09,01 <= 1031.1401,01 <= 100000,01 <= 0.9,01 <= 50,02 > 5,01 <= 98,02 > 50,01 <= 675
2,1,0,1,0,0,0,0,0,0,0.0,...,01 <= 1025,01 <= 9690.09,01 <= 1031.1401,01 <= 100000,02 > 0.9,01 <= 50,01 <= 5,02 <= 122,02 > 50,01 <= 675
3,1,0,0,1,1,1,0,0,0,NaN,...,00 Miss,01 <= 9690.09,01 <= 1031.1401,01 <= 100000,00 Miss,01 <= 50,01 <= 5,02 <= 122,01 <= 50,01 <= 675
4,1,0,0,1,1,1,1,0,0,NaN,...,00 Miss,01 <= 9690.09,01 <= 1031.1401,01 <= 100000,00 Miss,01 <= 50,02 > 5,01 <= 98,02 > 50,02 > 675

In [11]:
df.isnull().sum()

DDA               0
CASHBK            0
DIRDEP            0
NSF               0
SAV               0
ATM               0
CD                0
IRA               0
LOC               0
INV            1075
ILS               0
MM                0
MMCRED            0
MTG               0
CC             1075
CCPURC         1075
SDB               0
HMOWN          1463
MOVED             0
INAREA            0
INS               0
BRANCH            0
RES               0
ACCTAGE_BIN       0
DDABAL_BIN        0
DEP_BIN           0
DEPAMT_BIN        0
CHECKS_BIN        0
NSFAMT_BIN        0
PHONE_BIN         0
TELLER_BIN        0
SAVBAL_BIN        0
ATMAMT_BIN        0
POS_BIN           0
POSAMT_BIN        0
CDBAL_BIN         0
IRABAL_BIN        0
LOCBAL_BIN        0
INVBAL_BIN        0
ILSBAL_BIN        0
MMBAL_BIN         0
MTGBAL_BIN        0
CCBAL_BIN         0
INCOME_BIN        0
LORES_BIN         0
HMVAL_BIN         0
AGE_BIN           0
CRSCORE_BIN       0
dtype: int64

Looks like INV, CC, CCPURC, HMOWN all have missing data

In [19]:
miss = ['INV', 'CC', 'CCPURC', 'HMOWN']
for x in miss:
    print(f"Unique values in {x}: {df[x].unique()}")

Unique values in INV: [ 0. nan  1.]
Unique values in CC: [ 1. nan  0.]
Unique values in CCPURC: [ 1.  0. nan  2.  3.  4.]
Unique values in HMOWN: [ 1.  0. nan]

In [37]:
# df['INV'] = df['INV'].fillna('Missing')
# df['INV'] = df['INV'].astype('category')  # Ensuring 'X' is treated as categorical
# df['INV'].unique

for col in miss:
    df[col] = df[col].fillna('Missing')
    df[col] = df[col].astype('category')

<bound method Series.unique of 0           0.0
1           0.0
2           0.0
3       Missing
4       Missing
         ...
8490        0.0
8491        0.0
8492        0.0
8493        0.0
8494        0.0
Name: INV, Length: 8495, dtype: category
Categories (3, object): [0.0, 1.0, 'Missing']>