# Objective ‚Äì Phase 1

Explore the predictor variables individually with the target variable of whether the customer 
bought the insurance product. 
- Summarize only the significant variables in a table ranking from most significant to least 
significant ‚Äì the Bank currently uses ùõº = 0.002, but is open to another if you defend 
your reason. 
    - This table should separate out the four possible classes of variables ‚Äì binary, 
ordinal, nominal, continuous. 
  
    - (HINT: Explore the predictor variables individually for now since you have not 
yet accounted for missing values.) 
  
    - (HINT: The downside to software sometimes is displaying a full p-value for 
ranking. That doesn‚Äôt mean you cannot get them through the right commands. 
As long as you have the same degrees of freedom you can rank on test statistic 
as well.) 
  
  
- In an appendix, include a table with all of the variables ranked by significance.

In [11]:
import pandas as pd

In [12]:
pd.set_option('display.max_columns', 500)
df = pd.read_csv("insurance_t.csv")
df = df.dropna()
df.head(25)

,ACCTAGE,DDA,DDABAL,DEP,DEPAMT,CASHBK,CHECKS,DIRDEP,NSF,NSFAMT,PHONE,TELLER,SAV,SAVBAL,ATM,ATMAMT,POS,POSAMT,CD,CDBAL,IRA,IRABAL,LOC,LOCBAL,INV,INVBAL,ILS,ILSBAL,MM,MMBAL,MMCRED,MTG,MTGBAL,CC,CCBAL,CCPURC,SDB,INCOME,HMOWN,LORES,HMVAL,AGE,CRSCORE,MOVED,INAREA,INS,BRANCH,RES
0,0.7,1,1986.81,1,446.93,0,1,1,0,0.00,0.0,0,0,0.00,1,268.88,0.0,0.00,0,0,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,1.0,0.00,1.0,0,4.0,1.0,7.0,87.0,51.0,674.0,0,1,0,B2,R
1,4.1,0,0.00,0,0.00,0,0,0,0,0.00,0.0,0,0,0.00,0,0.00,0.0,0.00,0,0,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,1.0,0.00,0.0,0,30.0,1.0,8.5,97.0,60.0,640.0,0,1,1,B3,S
2,12.3,1,1069.78,5,6813.58,0,13,1,0,0.00,2.0,9,0,0.00,0,0.00,0.0,0.00,0,0,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,1.0,38.62,0.0,0,19.0,0.0,3.0,107.0,55.0,662.0,0,1,1,B7,U
3,0.8,1,190.03,3,880.25,0,1,0,1,5.65,NaN,0,1,11.47,1,1582.34,NaN,NaN,0,0,0,0.00,0,0.00,NaN,NaN,0,0.00,0,0.00,0,0,0.00,NaN,NaN,NaN,1,20.0,0.0,4.0,107.0,40.0,642.0,0,1,0,B14,S
4,1.6,1,257.13,5,3408.35,0,14,0,1,60.25,NaN,1,1,9.80,1,3807.19,NaN,NaN,1,7500,0,0.00,0,0.00,NaN,NaN,0,0.00,0,0.00,0,0,0.00,NaN,NaN,NaN,0,24.0,1.0,8.5,95.0,54.0,732.0,0,1,0,B15,U
5,5.3,0,0.00,0,0.00,0,0,0,0,0.00,NaN,0,1,18116.37,1,11435.30,NaN,NaN,0,0,0,0.00,0,0.00,NaN,NaN,0,0.00,1,12247.31,1,0,0.00,NaN,NaN,NaN,0,8.0,1.0,12.5,76.0,61.0,688.0,0,1,1,B19,R
6,9.0,1,1072.55,1,590.25,0,0,0,1,5.78,NaN,1,1,142.98,0,0.00,NaN,NaN,0,0,0,0.00,0,0.00,NaN,NaN,0,0.00,0,0.00,0,1,91754.86,NaN,NaN,NaN,0,45.0,1.0,8.5,111.0,54.0,635.0,0,1,1,B15,R
7,4.0,0,0.00,0,0.00,0,0,0,0,0.00,NaN,0,1,15426.87,0,0.00,NaN,NaN,0,0,0,0.00,1,7146.89,NaN,NaN,0,0.00,0,0.00,0,1,112691.03,NaN,NaN,NaN,0,35.0,1.0,3.5,99.0,46.0,642.0,0,1,1,B14,U
8,NaN,1,998.25,2,1471.81,0,4,1,0,0.00,0.0,1,0,0.00,0,0.00,0.0,0.00,0,0,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,0.0,0.00,0.0,0,88.0,1.0,8.0,129.0,22.0,626.0,0,1,1,B1,S
9,1.5,0,0.00,0,0.00,0,0,0,0,0.00,NaN,0,1,54086.26,0,0.00,NaN,NaN,0,0,1,6451.89,0,0.00,NaN,NaN,0,0.00,0,0.00,0,0,0.00,NaN,NaN,NaN,0,31.0,0.0,4.0,97.0,53.0,693.0,0,0,0,B18,R
10,13.0,0,0.00,0,0.00,0,0,0,0,0.00,NaN,0,0,0.00,0,0.00,NaN,NaN,0,0,0,0.00,0,0.00,NaN,NaN,0,0.00,1,15010.99,0,0,0.00,NaN,NaN,NaN,0,13.0,0.0,5.0,94.0,46.0,713.0,0,0,1,B15,S
11,15.3,0,0.00,0,0.00,0,0,0,0,0.00,NaN,0,1,832.71,1,599.71,NaN,NaN,0,0,0,0.00,0,0.00,NaN,NaN,0,0.00,0,0.00,0,0,0.00,NaN,NaN,NaN,1,108.0,1.0,5.5,128.0,57.0,710.0,0,1,0,B15,S
12,3.9,1,1396.35,4,3599.73,0,14,1,1,23.45,1.0,0,0,0.00,1,949.88,6.0,349.63,0,0,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,1.0,4244.01,0.0,1,81.0,1.0,7.5,132.0,22.0,631.0,0,1,0,B1,R
13,3.9,1,35676.34,2,11578.68,0,6,1,0,0.00,0.0,2,0,0.00,1,32.98,0.0,0.00,0,0,0,0.00,1,16753.76,0.0,0.0,0,0.00,0,0.00,0,0,0.00,1.0,16697.06,0.0,0,20.0,1.0,9.0,148.0,45.0,639.0,0,1,1,B2,R
14,3.8,1,4494.62,2,4276.89,0,12,1,0,0.00,0.0,0,1,16659.84,1,11.39,0.0,0.00,1,12700,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,1.0,274.81,0.0,0,233.0,1.0,7.0,216.0,27.0,635.0,0,1,1,B3,R
15,7.0,1,5663.56,2,2223.36,0,6,1,0,0.00,0.0,0,1,16570.04,0,0.00,0.0,0.00,0,0,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,0.0,0.00,0.0,0,32.0,0.0,3.5,118.0,30.0,629.0,0,1,0,B17,R
16,0.6,1,5112.49,6,8887.20,0,15,1,0,0.00,2.0,2,1,174.47,1,0.00,5.0,799.05,0,0,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,1.0,2974.99,1.0,0,61.0,1.0,7.0,124.0,34.0,684.0,0,1,0,B9,S
17,2.0,1,247.64,3,558.42,0,3,0,0,0.00,0.0,0,1,29.19,1,0.00,1.0,21.26,0,0,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,0.0,0.00,0.0,0,26.0,1.0,9.5,83.0,37.0,618.0,0,1,0,B1,R
18,4.4,0,0.00,0,0.00,0,0,0,0,0.00,0.0,0,0,0.00,0,0.00,0.0,0.00,0,0,0,0.00,0,0.00,0.0,0.0,0,0.00,1,15106.05,0,0,0.00,0.0,0.00,0.0,1,80.0,1.0,8.0,113.0,72.0,721.0,0,0,0,B5,R
19,2.6,0,0.00,0,0.00,0,0,0,0,0.00,NaN,0,1,622.43,1,835.68,NaN,NaN,1,4700,0,0.00,0,0.00,NaN,NaN,0,0.00,0,0.00,0,1,62409.40,NaN,NaN,NaN,0,50.0,1.0,5.0,120.0,33.0,567.0,0,1,1,B15,U
20,5.3,1,495.29,4,1715.65,0,5,1,0,0.00,0.0,2,1,327.76,0,0.00,0.0,0.00,0,0,0,0.00,0,0.00,1.0,0.0,0,0.00,0,0.00,0,0,0.00,0.0,0.00,0.0,0,13.0,1.0,10.0,96.0,54.0,682.0,0,1,0,B5,S
21,3.8,1,731.07,2,876.74,0,2,0,1,4.48,NaN,0,1,133.14,1,372.20,NaN,NaN,0,0,0,0.00,0,0.00,NaN,NaN,0,0.00,0,0.00,0,0,0.00,NaN,NaN,NaN,0,48.0,0.0,3.5,114.0,35.0,588.0,0,1,1,B15,U
22,6.8,1,5482.37,1,187.05,0,0,0,0,0.00,0.0,0,0,0.00,0,0.00,0.0,0.00,1,49600,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,0.0,0.00,0.0,0,30.0,0.0,4.5,121.0,62.0,610.0,0,1,0,B8,S
23,2.7,1,943.00,4,1867.85,0,7,1,0,0.00,0.0,0,0,0.00,1,874.55,2.0,79.88,0,0,0,0.00,0,0.00,0.0,0.0,0,0.00,0,0.00,0,0,0.00,1.0,2215.23,0.0,0,16.0,1.0,11.0,94.0,73.0,709.0,0,1,0,B4,S
24,4.2,1,110.96,3,1439.98,0,8,0,1,55.51,0.0,0,1,136.64,1,848.11,0.0,0.00,0,0,0,0.00,1,23030.70,0.0,0.0,1,10113.99,0,0.00,0,0,0.00,1.0,154243.01,1.0,0,25.0,1.0,8.5,88.0,41.0,646.0,0,1,1,B6,S

## separating out the four possible classes of variables ‚Äì binary, ordinal, nominal, continuous.

In [13]:
def find_binary_continuous(df):
    binary_cols = []
    continuous_cols = []

    for column in df.columns:
        unique_values = df[column].nunique()
        dtype = df[column].dtype
        
        if unique_values == 2:
            binary_cols.append(column)
        elif pd.api.types.is_numeric_dtype(df[column]):
            # A column is considered continuous if it has many unique values
            if unique_values > 70:  # Threshold for considering a column continuous
                continuous_cols.append(column)
    
    # Create a new DataFrame with only the columns that are not binary or continuous
    nom_ord_df = df.drop(columns=binary_cols + continuous_cols)
    
    return binary_cols, continuous_cols, nom_ord_df

binary_cols, continuous_cols, nom_ord_df = find_binary_continuous(df)

In [14]:
binary_cols

['DDA',
 'DIRDEP',
 'NSF',
 'SAV',
 'ATM',
 'CD',
 'IRA',
 'LOC',
 'INV',
 'ILS',
 'MM',
 'MTG',
 'CC',
 'SDB',
 'HMOWN',
 'MOVED',
 'INAREA',
 'INS']

In [15]:
continuous_cols

['ACCTAGE',
 'DDABAL',
 'DEPAMT',
 'NSFAMT',
 'SAVBAL',
 'ATMAMT',
 'POSAMT',
 'CDBAL',
 'IRABAL',
 'LOCBAL',
 'INVBAL',
 'ILSBAL',
 'MMBAL',
 'MTGBAL',
 'CCBAL',
 'INCOME',
 'HMVAL',
 'AGE',
 'CRSCORE']

In [16]:
nom_ord_df

,DEP,CASHBK,CHECKS,PHONE,TELLER,POS,MMCRED,CCPURC,LORES,BRANCH,RES
0,1,0,1,0.0,0,0.0,0,1.0,7.0,B2,R
1,0,0,0,0.0,0,0.0,0,0.0,8.5,B3,S
2,5,0,13,2.0,9,0.0,0,0.0,3.0,B7,U
3,3,0,1,NaN,0,NaN,0,NaN,4.0,B14,S
4,5,0,14,NaN,1,NaN,0,NaN,8.5,B15,U
...,...,...,...,...,...,...,...,...,...,...,...
8490,2,0,7,2.0,1,0.0,0,1.0,4.5,B2,R
8491,2,0,13,0.0,0,0.0,0,0.0,NaN,B2,S
8492,3,0,9,0.0,11,0.0,0,0.0,8.5,B3,U
8493,0,0,0,0.0,0,0.0,0,0.0,6.5,B1,S
8494,0,0,0,0.0,0,0.0,0,0.0,3.5,B4,U

In [17]:
nominal_cols = ['BRANCH', 'RES']
ordinal_cols = ['DEP', 'CASHBK', 'CHECKS', 'PHONE', 'TELLER', 'POS', 'MMCRED', 'CCPURC']
continuous_cols.append('LORES')
binary_cols.remove('INS')

In [18]:
print(continuous_cols)

['ACCTAGE', 'DDABAL', 'DEPAMT', 'NSFAMT', 'SAVBAL', 'ATMAMT', 'POSAMT', 'CDBAL', 'IRABAL', 'LOCBAL', 'INVBAL', 'ILSBAL', 'MMBAL', 'MTGBAL', 'CCBAL', 'INCOME', 'HMVAL', 'AGE', 'CRSCORE', 'LORES']

## checking if varriabels are a good predictor of

In [26]:
import statsmodels.api as sm

def logistic_regression_summary(X, y):
    model = sm.Logit(y, sm.add_constant(X))
    result = model.fit()
    p_value = result.pvalues[1]  # p-value for the variable
    return p_value

# Initialize lists for summary
results = []

# Analyze binary variables
for var in binary_cols:
    p_value = logistic_regression_summary(df[binary_cols], df['INS'])
    results.append({'Variable': var, 'Type': 'Binary', 'P-Value': p_value})

# Analyze ordinal variables
for var in ordinal_cols:
    p_value = logistic_regression_summary(df[ordinal_cols], df['INS'])
    results.append({'Variable': var, 'Type': 'Ordinal', 'P-Value': p_value})

# Analyze nominal variables
for var in nominal_cols:
    p_value = logistic_regression_summary(df[nominal_cols], df['INS'])
    results.append({'Variable': var, 'Type': 'Nominal', 'P-Value': p_value})

# Analyze continuous variables
for var in continuous_cols:
    p_value = logistic_regression_summary(df[continuous_cols], df['INS'])
    results.append({'Variable': var, 'Type': 'Continuous', 'P-Value': p_value})

# Create a DataFrame for the summary
summary_df = pd.DataFrame(results)
summary_df['Significant'] = summary_df['P-Value'] < 0.002
summary_df_sorted = summary_df.sort_values(by='P-Value')

Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.580331
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.623549
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.623549
         Iterations 6

C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable

Optimization terminated successfully.
         Current function value: 0.623549
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.623549
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.623549
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.623549
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.623549
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.623549
         Iterations 6

C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable
C:\Users\Sterling Hayden\AppData\Local\Temp\ipykernel_6864\2084287675.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  p_value = result.pvalues[1]  # p-value for the variable

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).